<ion-header>
    <ion-navbar>
        <ion-title>Profile</ion-title>
        <ion-buttons end>
            <button *ngIf="!editMode" ion-button round outline (click)="editToggle()">Edit<ion-icon name="create"></ion-icon></button>
            <button *ngIf="editMode" [hidden]="editPasswordMode" ion-button round outline offset-10 (click)="changePasswordToggle()">Change Password<ion-icon
                    name="lock"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!editMode">
        <ion-list no-lines>
            <ion-item>
                <h1><b>Username</b></h1>
                <p>{{profile.username}}</p>
            </ion-item>
            <ion-item>
                <h1><b>Name</b></h1>
                <p>{{profile.name}}</p>
            </ion-item>
            <ion-item>
                <h1><b>Surname</b></h1>
                <p>{{profile.surname}}</p>
            </ion-item>
            <ion-item>
                <h1><b>Email</b></h1>
                <p>{{profile.email}}</p>
            </ion-item>
            <!--<button ion-button offset-11 (click)="editToggle()" color="tertiary">Edit</button>-->
        </ion-list>
    </div>
    <div *ngIf="editMode">
        <h2>Edit Profile</h2>
        <form (submit)="edit(edittedProfile.value)" [formGroup]="edittedProfile">
            <ion-list>
                <ion-item>
                    <ion-label floating>Name: </ion-label>
                    <ion-input formControlName="name" type="text" value={{profile.name}}></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Surame: </ion-label>
                    <ion-input formControlName="surname" type="text" value={{profile.surname}}></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Email: </ion-label>
                    <ion-input formControlName="email" type="text" value={{profile.email}}></ion-input>
                </ion-item>
                <!--<div *ngIf="!editPasswordMode">
                    <button ion-button round outline offset-10 (click)="changePasswordToggle()" color="tertiray">Change Password</button>
                </div>
                <div *ngIf="editPasswordMode">
                    <button ion-button round outline (click)="changePasswordToggle()">Cancel Changing Password</button>
                </div>-->
                <div *ngIf="editPasswordMode">
                    <ion-item>
                        <ion-label floating>Old Password</ion-label>
                        <ion-input formControlName="oldPassword" type="password"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>New Password</ion-label>
                        <ion-input formControlName="newPassword" type="password"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Confirm new Password</ion-label>
                        <ion-input formControlName="confirmNewPassword" type="password"></ion-input>
                    </ion-item>
                </div>
                <ion-row justify-content-end>
                    <ion-col col-2>
                        <button ion-button round outline color="secondary" block type="submit">Submit</button>
                    </ion-col>
                    <ion-col col-2>
                        <button ion-button round outline color="primary" block (click)="editToggle()" color="tertiary" [hidden]="editPasswordMode">Cancel</button>
                        <button ion-button round outline color="primary" block (click)="editToggle(); changePasswordToggle()" color="tertiary" [hidden]="!editPasswordMode">Cancel</button>
                    </ion-col>
                </ion-row>
            </ion-list>
        </form>
    </div>

    <div padding>

    </div>


</ion-content>