<ion-header>
        <ion-navbar>
            <ion-title>Edit Profile</ion-title>
            <ion-buttons start>
                <button ion-button (click)="cancel()">
                    <ion-icon name="close"></ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>
        
    <ion-content padding>
        <form (submit)="editInformation(edittedProfile.value)" [formGroup]="edittedProfile">
            <ion-list>  
                <div *ngIf="!jsonRec.password">
                    <ion-item>
                        <p>Edit your {{jsonRec.infoType}}</p>               
                    </ion-item>       
                    <ion-item>
                        <ion-label floating>{{jsonRec.infoType}}</ion-label>
                        <ion-input formControlName="infoDetail" type="text" value={{jsonRec.detail}}></ion-input>
                    </ion-item>
                </div>      
                <div *ngIf="jsonRec.password">
                    <ion-item>
                        <ion-label floating>Old Password</ion-label>
                        <ion-input formControlName="oldPassword" type="password"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>New Password</ion-label>
                        <ion-input formControlName="newPassword" type="password"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Confirm new Password</ion-label>
                        <ion-input formControlName="confirmNewPassword" type="password"></ion-input>
                    </ion-item>
                </div>

                <button ion-button round outline color="primary" block type="submit">Submit</button>
            </ion-list>
        </form>
    
        <div padding>
    
        </div>
    
    
    </ion-content>