<ion-header>
    <ion-navbar>
        <ion-title>Edit Reward</ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
    
<ion-content padding>
    <form (submit)="requestEdittedProductToBeSold(requestProduct.value)" [formGroup]="requestProduct">
        <ion-list>        
            <ion-item>
                <p>Edit your product.  Any new configurations will have to be verified by</p>
                <p> ERP Admin first, before being set available to public. Image will remain</p>
                <p> unchanged if no image is selected</p>                
            </ion-item>       
            <ion-item>
                <ion-label floating>Name<span style="color:red">*</span></ion-label>
                <ion-input formControlName="name" type="text" value={{product.name}} maxlength="30"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Description<span style="color:red">*</span></ion-label>
                <ion-textarea formControlName="description" type="textarea" value={{product.description}} maxlength="255"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label floating>Price in Rand<span style="color:red">*</span></ion-label>
                <ion-input formControlName="price" type="number" value={{product.randValue}} min="1" max="2147483647"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Amount in Stock<span style="color:red">*</span></ion-label>
                <ion-input formControlName="amount" type="number" value={{product.amount}} min="1" max="2147483647"></ion-input>
            </ion-item>
            <ion-item>               
                <ion-label>Select Image</ion-label>
                <input item-end type="file" accept="image/*" (change)="processWebImage($event)" />
            </ion-item>
            <button *ngIf="enableSubmit" ion-button round outline color="primary" block type="submit">Submit</button>
            <ion-label *ngIf="!enableSubmit">Loading...</ion-label>
        </ion-list>
    </form>

    <div padding>

    </div>


</ion-content>