page-stock {

  ion-title{
    text-align: center;
  }
  
    img {
      height: 10% !important;
      width: 10% !important;
      display: block;
      margin: auto;
      align-items: center;
      object-fit: contain;;
    }
  }
